@tailwind base;
@tailwind components;
@tailwind utilities;


.sticky {
    position: sticky;
    top: 0;
    z-index: 2000;
  }

  .dropzone {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #eeeeee;
    border-style: solid;
    background-color: #0a9ecf;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: background-color 0.24s ease-in-out, border-color 0.24s ease-in-out;
  }

  .dropzone.active {
    border-color: #2196f3;
  }

  .dropzone.accept {
    border-color: #00e676;
  }

  .dropzone.reject {
    border-color: #ff1744;
  }

  button.pswp__button--print {
    background-color: #0a9ecf !important;
    color: #fff !important;
    padding: 5px 5px !important;
    border-radius: 5px !important;
    width: 100px !important;
    margin-top: 10px !important;
  }


  * {
    font-size: 18px;
    font-weight: bold;
  }

  .dayEvent{
    left: 0px !important;
  }

  .react-calendar-timeline .rct-item .rct-item-content {
    color: #000000 !important;
    background-color: #10b981 !important;
    border: 1px solid #059669 !important;
    padding: 6px 10px !important;
    border-radius: 4px !important;
    display: inline-block !important;
    box-sizing: border-box !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

